# Configuración de Base de Datos
DATABASE_URL=postgresql+asyncpg://usuario:contraseña@localhost:5432/docuengine

# Seguridad (Reemplazar en producción)
SECRET_KEY=clave_super_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Configuración de RabbitMQ (Para Workers)
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
